.cover-image {
  background-image: url(../../assets/images/cover.jpeg);
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image-container {
  position: relative;
}
.image-container .bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
}
