.movieContainer {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  justify-content: center;
}
.movie {
  position: relative;
  background: #032541;
  margin: 1rem;
  width: 200px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.movie img {
  max-width: 100%;
}
.movieInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 11px;
}
.movieInfo h3 {
  margin: 0;
}
.movieDesc {
  background: #fff;
  position: absolute;
  overflow: auto;
  max-height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  color: #032541;
  padding: 1rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}
.movie:hover .movieDesc {
  transform: translateY(0%);
}
